# Environments
.venv
venv
.env

# Cache and logs
__pycache__/
.pytest_cache/
.ruff_cache/
*.log

# Build artifacts
dist/
build/
*.egg-info/

# Scripts
*.ps1

# Data, Models, and Outputs
# These directories contain large files and should not be version controlled.
data/
output/
models/
data/analyze/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

